// This is where you can import other stylesheets or write your scss code
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";

h2 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center ;
}

.card {
    border: none;
    .card-body {
        color: black;
    }
}

.card-color {
    color: white;
    background-color: lightblue;
}

h1,
h2, 
h5 {
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
}

.text-color {
    color: white;
}

#nav {
    a {
        color: purple;
    }
}

