// This is where you can import other stylesheets or write your scss code

@import "../../node_modules/bootstrap/scss/bootstrap";

// add custom vars? 

h2 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center ;
  }

.card-color {
    color: white;
    background-color: lightblue;
}

.card-body {
    color: black;
    
}